{{extend 'layout.html'}}

<div class="row">
    {{=form}}
</div>

<div class="row">
    <img src={{=src_foto}}>
</div>

{{if desc:}}
    <div class="row">
        {{=desc['nome']}} <br> {{=desc['matricula']}} <br> {{=desc['descricao_vinculo']}}
    </div>
{{pass}}

<div class="row">
    {{for info_refeicao in info_refeicoes_do_dia:}}
        <span class='{{=info_refeicao['classes']}}'>
            {{=info_refeicao['descricao']}}
        </span>
    {{pass}}
</div>

<div class="row">
    {{for preco in precos or []:}}
        <a class="btn btn-default" href="{{=URL('leitura', 'registra_compra', vars=dict(tipo_pagamento=preco['tipo_pagamento']))}}" role="button">{{=preco['label']}}: R$ {{=preco['quantia']}}</a>
    {{pass}}
</div>



{{if pagamento_realizado:}}
    <div class="row">
        <h3>Pagamento realizado!</h3>
    </div>
{{pass}}

<hr size="2"/>
<div class="row">
    <table width="100%">
        <thead></thead>
        <tbody>
            <tr>
                {{for desc,count in contadores.iteritems():}}
                    <td style="width: 33%; text-align: center" >({{=desc}}: {{=count}})</td>
                {{pass}}
            </tr>
        </tbody>
    </table>
</div>
