{{extend '_unirio/layout.html'}}

<div align="center">
{{=form}}
<img src={{=src_foto}}>

{{if desc:}}
        <div>{{=desc['nome']}}, {{=desc['matricula']}}, {{=desc['descricao_vinculo']}}</div>
{{else:}}
        <div>{{response.flash}}</div>
{{pass}}
</div>

<div align="center">
    {{for horario in horarios:}}
        {{=horario}}
    {{pass}}
</div>

<div id="target" align="center">
{{if form.accepted:}}
{{=form2}}
{{pass}}
</div>

<br><br><br>
<h4>  DEBUG:  </h4>
<p>{{=dbug}}</p>
        <hr size="2"/><b>
        <table width="100%"><tr>
{{for c in contadores:}}
        <td style="width: 33%; text-align: center" >{{=c}} = {{=contadores[c]}}</td>
        {{pass}}
</tr></table></b>