{{extend '_unirio/layout.html'}}

<div align="center">
    {{=form}}
    <table><tr><td width="640px" height="360px" align="center" ><img src={{=src_foto}}></td></tr></table>

    {{if desc:}}
        <div>{{=desc['nome']}} <br> {{=desc['matricula']}} <br> {{=desc['descricao_vinculo']}}</div>
    {{else:}}
        <div>{{response.flash}}</div>
    {{pass}}
</div>

<div align="center">
    {{for horario in horarios:}}
        {{=horario}}
    {{pass}}
</div>

<div id="target" align="center">
    {{=form2}}
</div>
<br>
<br>
<br>
<hr size="2"/>
<table width="100%">
    <tr>
        {{for c in contadores:}}
            <td style="width: 33%; text-align: center" >{{=c}} = {{=(contadores[c]-1)}}</td>
        {{pass}}
    </tr>
</table>

<h4>  DEBUG:  </h4>
<p>{{=dbug}}</p>