.caixa_refeicao
{
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.caixa_refeicao_nao_realizada
{
    background-color: #EEEEEE;
}

.caixa_refeicao_realizada
{
    background-color: #EF3A44;
    color: whitesmoke;
    font-weight: bold;
}

.caixa_refeicao_atual
{
    border: 2px solid black;
}

#tabela_contador td
{
    width: 33%;
    text-align: center;
}

.form_matricula
{
    text-align: center;
}

.submit-matricula
{
    margin-left: 4px;
    margin-bottom: 2px;
}

.campo_matricula
{
    display: inline;
    width: 50%;
}

.mostrador_refeicoes_do_dia
{
    width: 50%;
    margin: 0 auto;
}
.botoes-refeicoes
{
    margin-top: 1%;
}